


<!DOCTYPE html>
<html lang="en">
  <head>

<head>
<link rel="stylesheet" type="text/css" href="Reduce.css">
</head>

      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Re.duce</title>

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Basic Form</title>

	<link rel="stylesheet" href="assets/demo.css">
	<link rel="stylesheet" href="assets/form-basic.css">

</head>





    <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="owner_index.html">Re.duce</a>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="owner_index.html">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="login.html">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="signup.html">Sign-up</a>
          </li>
        </ul>
        <form class="form-inline mt-2 mt-md-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>

<ul></ul>
<ul></ul>
    <div class="main-content">

        <!-- You only need this form and the form-basic.css -->

        <form class="form-basic" method="post" action="#">

            <div class="form-title-row">
                <h1>내 정보 입력</h1>
            </div>

            <div class="form-row">
                <label>
                    <span>사장님 성함</span>
                    <input type="text" name="name">
                </label>
            </div>

            <div class="form-row">
                <label>
                    <span>가게 이름</span>
                    <input type="text" name="shop_name">
                </label>
            </div>

            <div class="form-row">
                <label>
                    <span>가게 전화 번호</span>
                   <input type="text" name="shop_name">
                </label>
            </div>


            <div class="form-row">
                <label>
                    <span>사업자 등록 번호</span>
                   <input type="text" name="shop_name">
                </label>
            </div>



            <div class="form-row">
                <label>
                    <span>Email</span>
                    <input type="email" name="email">
                </label>
            </div>

            <!--<div class="form-row">-->
                <!--<label>-->
                    <!--<span>업종</span>-->
                    <!--<select name="dropdown">-->
                        <!--<option>Option One</option>-->
                        <!--<option>Option Two</option>-->
                        <!--<option>Option Three</option>-->
                        <!--<option>Option Four</option>-->
                    <!--</select>-->
                <!--</label>-->
            <!--</div>-->

            <div class="form-row">
                <label>
                    <span>가게 정보</span>
                    <textarea name="textarea"></textarea>
                </label>
            </div>

            <div class="form-row">
                <label>
                    <span>가게 주소</span>
                    <input type="text" name="shop_name">
                </label>
            </div>

            <!--<div class="form-row">-->
                <!--<label>-->
                    <!--<span>Checkbox</span>-->
                    <!--<input type="checkbox" name="checkbox" checked>-->
                <!--</label>-->
            <!--</div>-->

            <!--<div class="form-row">-->
                <!--<label><span>Radio</span></label>-->
                <!--<div class="form-radio-buttons">-->

                    <!--<div>-->
                        <!--<label>-->
                            <!--<input type="radio" name="radio">-->
                            <!--<span>Radio option 1</span>-->
                        <!--</label>-->
                    <!--</div>-->

                    <!--<div>-->
                        <!--<label>-->
                            <!--<input type="radio" name="radio">-->
                            <!--<span>Radio option 2</span>-->
                        <!--</label>-->
                    <!--</div>-->

                    <!--<div>-->
                        <!--<label>-->
                            <!--<input type="radio" name="radio">-->
                            <!--<span>Radio option 3</span>-->
                        <!--</label>-->
                    <!--</div>-->

                <!--</div>-->
            <!--</div>-->

            <div class="form-row">
                <button type="submit">Submit Form</button>
            </div>

        </form>

    </div>

</body>

</html>
